---
import Base from '../../layouts/Base.astro';
import { getAllInvite } from "../../../backend/backend.mjs";
import ImagePB from '../../components/ImagePB.astro';
import CardInvite from '../../components/CardInvite.astro';

const invite = await getAllInvite();
console.log(invite);
---
<Base>
    <h1>Nos invités phares</h1>
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {invite.map((inviteItem) => <CardInvite {...inviteItem}/> )}
    </section>
</Base>