---
import Base from '../layouts/Base.astro';

---

<Base titre="À Propos">
    <img src="/src/assets/img/accueil/Apropos.jpg"
               alt="Festival d'Halloween"
               class="w-full lg:w-1/2 h-64 object-cover lg:object-contain lg:h-auto">
    <h1 class="text-center text-3xl font-bold mb-4">À Propos</h1> 
    <p>
        Beaucoup d’entre nous aime regarder des films d’horreur. On aime avoir peur, se faire suspendre, ressentir une certaine tension tout au long du film,... C’est pourquoi nous avons décidé d’organiser un festival de films focalisé sur l’horreur et l’épouvante, pour faire plaisir à un grand nombre d’entre nous. Il aura lieu pour la période d’halloween, afin d’être en harmonie avec l’ambiance de cette fête.
    </p>
    <h2>Équipe</h2>
    <p>
        Nous tenons à adresser un immense merci pour le dévouement et le travail acharné dans la mise en place du festival de films d'Halloween des organisateurs et de l’équipe technique. Votre passion et votre professionnalisme ont permis de créer une expérience mémorable pour tous les participants.
        Chaque détail, de la sélection des films à l'ambiance festive, a contribué à faire de cet événement un véritable succès. Grâce à vous, nous avons pu célébrer l'esprit d'Halloween dans une atmosphère enrichissante et divertissante.
        Merci encore pour votre engagement et votre créativité. J'ai hâte de participer à la prochaine édition !
    </p>
    <h2>Charte du festival</h2>
    <h3>Le partage</h3>
    <p>
        Notre festival est principalement un moment de partage, où l’on se retrouve pour passer de bons moments. On partage tous en commun quelque chose qu’on aime : le cinéma et les films d’horreur. On se réunit tous ensemble, des jeunes, des étudiants, des amateurs, des passionnés,... pour partager un même moment, en convivialité.
    </p>
    <h3>La culture</h3>
    <p>
        Notre festival est aussi un événement qui met un avant la culture cinématographique, notamment du genre de l’horreur, qui a fait beaucoup évoluer le cinéma. C’est un genre qui s’inscrit dans l’histoire du cinéma, et a pris une très grande place dans ce monde. Le festival permet de développer sa culture.
    </p>
    <h3>La diversité</h3>
    <p>
        Notre festival a pour but d’inclure tout le monde, il est ouvert à tous, pour tous les différents âges, les différentes origines, etc...
    </p>
</Base>