---
import Base from '../layouts/Base.astro';
import { getAllHotel } from "../../backend/backend.mjs";

import CardHotel from '../components/Cardhotel.astro';

const Hotel = await getAllHotel();
console.log(Hotel);


---

<Base titre="Infos pratiques">
    <h1>Infos pratiques</h1> 
    <p>Vous trouverez ici toutes les informations pratiques pour profiter pleinement de votre festival de film d'Halloween.</p>
    <section>
        <h2>Nos tarifs</h2>
            <div>
                <div class="bg-orange-500 text-white text-center p-6 rounded-xl shadow-md w-48">
                    <p class="text-4xl font-bold">10 €</p>
                    <p class="text-lg mt-2">Tarif pour tous (adultes et enfants)</p>
                </div>

                <div class="bg-orange-500 text-white text-center p-6 rounded-xl shadow-md w-48">
                    <p class="text-4xl font-bold">5 €</p>
                    <p class="text-lg mt-2">Tarif pour tous les étudiants</p>
                </div>
            </div>
    </section>
    <section>
        <h2>Lieu de rendez-vous</h2>
        <div>
            <p>Le festival se déroule dans la ville de Montbéliard, dans le département du Doubs, en région Bourgogne-Franche-Comté.</p>
            <p>Adresse : 1 rue du Château, 25200 Montbéliard</p>
            <iframe class="responsive" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2695.026820269293!2d6.794721376557588!3d47.50886889472098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479216e42555dd87%3A0xa70c3803c575d1e9!2s1%20Rue%20du%20Ch%C3%A2teau%2C%2025200%20Montb%C3%A9liard!5e0!3m2!1sfr!2sfr!4v1741854295304!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <section>
        <h2>Hébergement au alentour</h2>
        <div>
            <p>Vous cherchez un hébergement pour profiter pleinement du festival ? Voici quelques hôtels et campigs situés à proximité :</p>
            <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                {Hotel.map((hotelItem) => <CardHotel {...hotelItem}/> )}
            </section>
        </div>


    </section>
    <section>
        <h2>Transport</h2>
        <div>
            <img src="/src/assets/img/montbeliard.jpg" alt="Ville de Montbéliard" class="w-full h-52 object-cover rounded-lg shadow-lg mb-4">
            <p>Vous venez de loin et vous vous demandez comment vous rendre au festival ? Voici quelques informations pour vous aider à organiser votre trajet :</p>
            <p>En voiture : Le festival est accessible par l'autoroute A36, sortie Montbéliard.</p>
            <p>En train : La gare de Montbéliard est desservie par des trains en provenance de Paris, Lyon, Strasbourg et Besançon.</p>
            <p>En bus : Des lignes de bus desservent la ville de Montbéliard depuis les villes voisines.</p>
        </div>
    </section>

    <div class="max-w-2xl mx-auto p-6">
        <h2 class="text-3xl font-bold text-center mb-6">FAQ</h2>
        <div class="flex w-full flex-col gap-4 text-on-surface dark:text-on-surface-dark">
            <div x-data="{ isExpanded: false }" class="overflow-hidden rounded-radius border border-outline bg-surface-alt/40 dark:border-outline-dark dark:bg-surface-dark-alt/50">
                <button id="controlsAccordionItemOne" type="button" class="flex w-full items-center justify-between gap-2 bg-surface-alt p-4 text-left underline-offset-2 hover:bg-surface-alt/75 focus-visible:bg-surface-alt/75 focus-visible:underline focus-visible:outline-hidden dark:bg-surface-dark-alt dark:hover:bg-surface-dark-alt/75 dark:focus-visible:bg-surface-dark-alt/75" aria-controls="accordionItemOne" x-on:click="isExpanded = ! isExpanded" x-bind:class="isExpanded ? 'text-on-surface-strong dark:text-on-surface-dark-strong font-bold'  : 'text-on-surface dark:text-on-surface-dark font-medium'" x-bind:aria-expanded="isExpanded ? 'true' : 'false'">
                    Quand et où se déroule le festival ?
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke="currentColor" class="size-5 shrink-0 transition" aria-hidden="true" x-bind:class="isExpanded  ?  'rotate-180'  :  ''">
                       <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
                    </svg>
                </button>
                <div x-cloak x-show="isExpanded" id="accordionItemOne" role="region" aria-labelledby="controlsAccordionItemOne"  x-collapse>
                    <div class="p-4 text-sm sm:text-base text-pretty">
                        Le festival se déroule du 29 au 31 octobre au Cinéma Le Colisée, 1 rue du Château, 25200 Montbéliard.
                    </div>
                </div>
            </div>
            <div x-data="{ isExpanded: false }" class="overflow-hidden rounded-radius border border-outline bg-surface-alt/40 dark:border-outline-dark dark:bg-surface-dark-alt/50">
                <button id="controlsAccordionItemTwo" type="button" class="flex w-full items-center justify-between gap-2 bg-surface-alt p-4 text-left underline-offset-2 hover:bg-surface-alt/75 focus-visible:bg-surface-alt/75 focus-visible:underline focus-visible:outline-hidden dark:bg-surface-dark-alt dark:hover:bg-surface-dark-alt/75 dark:focus-visible:bg-surface-dark-alt/75" aria-controls="accordionItemTwo" x-on:click="isExpanded = ! isExpanded" x-bind:class="isExpanded ? 'text-on-surface-strong dark:text-on-surface-dark-strong font-bold'  : 'text-on-surface dark:text-on-surface-dark font-medium'" x-bind:aria-expanded="isExpanded ? 'true' : 'false'">
                    Quels types de films sont projetés ?
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke="currentColor" class="size-5 shrink-0 transition" aria-hidden="true" x-bind:class="isExpanded  ?  'rotate-180'  :  ''">
                       <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
                    </svg>
                </button>
                <div x-cloak x-show="isExpanded" id="accordionItemTwo" role="region" aria-labelledby="controlsAccordionItemTwo"  x-collapse>
                    <div class="p-4 text-sm sm:text-base text-pretty">
                        Nous projetons des films d'horreur classiques, ainsi que des d'horreur adaptés aux enfants.
                    </div>
                </div>
            </div>
            <div x-data="{ isExpanded: false }" class="overflow-hidden rounded-radius border border-outline bg-surface-alt/40 dark:border-outline-dark dark:bg-surface-dark-alt/50">
                <button id="controlsAccordionItemThree" type="button" class="flex w-full items-center justify-between gap-2 bg-surface-alt p-4 text-left underline-offset-2 hover:bg-surface-alt/75 focus-visible:bg-surface-alt/75 focus-visible:underline focus-visible:outline-hidden dark:bg-surface-dark-alt dark:hover:bg-surface-dark-alt/75 dark:focus-visible:bg-surface-dark-alt/75" aria-controls="accordionItemThree" x-on:click="isExpanded = ! isExpanded" x-bind:class="isExpanded ? 'text-on-surface-strong dark:text-on-surface-dark-strong font-bold'  : 'text-on-surface dark:text-on-surface-dark font-medium'" x-bind:aria-expanded="isExpanded ? 'true' : 'false'">
                    Comment acheter des billets ?
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke="currentColor" class="size-5 shrink-0 transition" aria-hidden="true" x-bind:class="isExpanded  ?  'rotate-180'  :  ''">
                       <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
                    </svg>
                </button>
                <div x-cloak x-show="isExpanded" id="accordionItemThree" role="region" aria-labelledby="controlsAccordionItemThree"  x-collapse>
                    <div class="p-4 text-sm sm:text-base text-pretty">
                        Les billets sont disponibles en ligne sur notre site web ou à la billetterie du festival.
                    </div>
                </div>
            </div>
            <div x-data="{ isExpanded: false }" class="overflow-hidden rounded-radius border border-outline bg-surface-alt/40 dark:border-outline-dark dark:bg-surface-dark-alt/50">
                <button id="controlsAccordionItemThree" type="button" class="flex w-full items-center justify-between gap-2 bg-surface-alt p-4 text-left underline-offset-2 hover:bg-surface-alt/75 focus-visible:bg-surface-alt/75 focus-visible:underline focus-visible:outline-hidden dark:bg-surface-dark-alt dark:hover:bg-surface-dark-alt/75 dark:focus-visible:bg-surface-dark-alt/75" aria-controls="accordionItemThree" x-on:click="isExpanded = ! isExpanded" x-bind:class="isExpanded ? 'text-on-surface-strong dark:text-on-surface-dark-strong font-bold'  : 'text-on-surface dark:text-on-surface-dark font-medium'" x-bind:aria-expanded="isExpanded ? 'true' : 'false'">
                    Y a-t-il des activités pour les enfants ?
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke="currentColor" class="size-5 shrink-0 transition" aria-hidden="true" x-bind:class="isExpanded  ?  'rotate-180'  :  ''">
                       <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
                    </svg>
                </button>
                <div x-cloak x-show="isExpanded" id="accordionItemThree" role="region" aria-labelledby="controlsAccordionItemThree"  x-collapse>
                    <div class="p-4 text-sm sm:text-base text-pretty">
                        Oui ! Nous proposons des ateliers de confection de décoration, des ateliers de création fictive de potion magique et des séances de cinéma spécialement pour les enfants.
                    </div>
                </div>
            </div>
        </div>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</Base>