---
import { onMount } from "solid-js";
import L from "leaflet";
import "leaflet/dist/leaflet.css";

onMount(() => {
  const map = L.map("map").setView([47.51013, 6.80162], 15); 

  L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  L.marker([47.51013, 6.80162]).addTo(map) 
    .bindPopup("<b>Lieu du Festival</b><br>8 Rue Henri Mouhot, 25200 Montbéliard")
    .openPopup();
});
---

<div id="map" class="w-full h-96 rounded-lg shadow-md"></div>