---

---
<footer class="container space-y-10 pt-20 bg-orange-500 lg:grid lg:grid-cols-4 lg:gap-8 lg:space-y-0">
    <a href="/">
        <img src="/src/assets/icons/logo.svg" alt="Logo" class="h-12" />
      </a>

  <nav class="px-5 columns-2 gap-8 space-y-8 text-sm lg:text-base lg:columns-3 lg:col-span-3 lg:px-0 *:break-inside-avoid *:space-y-3">
    <div>
      <ul class="text-white uppercase">
        <li><a href="...">Mentions légales</a></li>
        <li><a href="...">Politique de confidentialité</a></li>
        <li><a href="/contact">Contactez-nous</a></li>
        <li><a href="/apropos">à propos</a></li>
      </ul>
    </div>
  </nav>
  <div
    class="px-5 text-gray-400 border-t border-gray-300 py-8 space-y-6 text-center lg:col-span-4 lg:flex lg:justify-around lg:items-center lg:space-y-0"
  >
    <ul class="flex gap-12 justify-center">
      <li>
        <a href="https://www.facebook.com" aria-label="Facebook"><img src="/src/assets/icons/facebookFooter.svg" alt="Facebook" class="h-12" /></a>
      </li>
      <li>
        <a href="https://www.instagram.com" aria-label="Instagram"><img src="/src/assets/icons/instagramFooter.svg" alt="Instagram" class="h-12" /></a>
      </li>
      <li>
        <a href="https://www.tiktok.com" aria-label="Twitter"><img src="/src/assets/icons/TiktokFooter.svg" alt="Tiktok" class="h-12" /></a>
      </li>
      <li>
        <a href="https://www.pinterest.com" aria-label="Linkedin"><img src="/src/assets/icons/pinterestFooter.svg" alt="Pinterest" class="h-12" /></a>
      </li>
    </ul>
  </div>
</footer>