<nav>
    <a href="...">Infos pratiques</a>
    <a href="...">Activités</a>
    <a href="...">Programmation pour adultes</a>
    <a href="...">Programmation pour enfant</a>
    <a href="...">Nos invités</a>
</nav>