<nav>
    <a href="../pages/Infos-pratiques.astro">Infos pratiques</a>
    <a href="../pages/Activite.astro">Activités</a>
    <a href="../../pages/Programme-Adulte.astro">Programmation pour adultes</a>
    <a href="../pages/Programme-Enfant.astro">Programmation pour enfant</a>
    <a href="../pages/Invite.astro">Nos invités</a>
</nav>